image: node:9.2.0

cache:
  paths:
  - node_modules/

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - npm install

before_script:
  - apt-get update -yqq
  - 'which ssh-agent || (apt-get install openssh-client -y)'

test:
  stage: test
  variables:
    NODE_ENV: "test"
  script:
    - "npm test"

#Deploy to Test
deploy_staging:
  stage:  deploy
  script:
  - eval $(ssh-agent -s)
  - echo "$SSH_PRIVATE_KEY" > private_ssh.key
  - chmod 600 private_ssh.key
  - cat private.ssh_key
  - ssh-add private_ssh.key
  - ssh -v paul@85.25.103.81 -p 942 -t 'cd /var/www/html/mrworking-api'
  environment:
    name: staging
    url: http://85.25.103.81/mrworking-web/public/login
  only:
    - dev

# Deploy to production when merged
deploy_production:
  stage: deploy
  environment:
    name: production
    url : http://62.138.8.136/iforce/public/login
  only:
    - production
  script:
    - echo 'deployed to production'