p Hi #{recipient},

p A payment plan as been assigned to you for approval.
p Please visit the link below to review the payment plan details.

a(href=link class="btn") View Details

p Note that your action is needed within the next 12hours.

p Regards,
p Ikeja Electric
